= render "layouts/side"
.chat-main
 .chat-main__header
  .chat-main__header__group--edit--btn 
   = link_to "Edit", edit_group_path(@groups)
  .chat-main__header__group
   .chat-main__header__group__name
    = @groups.name 
   .chat-main__header__group__members
    MEMBERS:
    -@groups.users.each do |members|  
     =members.name
 
 .chat-main__body
  -@messages.each do |message| 
   .chat-main__body__message-name
    %p
     = message.user.name
   .chat-main__body__message-date
    %p
     = message.created_at.to_s(:default)
   .chat-main__body__message-body
    %p
     = message.body
    %p 
     = image_tag message.image.url, class: 'body__message-image' if message.image.present? 

 .chat-main__footer
  .chat-main__footer__form
   = form_for [@groups, @message] do |f|
    = f.text_field :body, class: 'input-form', placeholder: 'type a message'
    = f.label :image, class: 'picture' do
     = fa_icon 'picture-o', class: 'icon'
     = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'send--btn'
    
  
 
